<h1>Editing Shop</h1>

<%= render 'form' %>

<br />

<%= link_to 'Ver tienda', @shop, role: 'button', class: 'btn btn-primary' %> |
<%= link_to 'Tiendas', shops_path, role: 'button', class: 'btn btn-primary' %>
