<h1>Editar loja</h1>

<%= render 'form' %>

<br />

<%= link_to 'Veja loja', @shop, role: 'button', class: 'btn btn-success btn-sm' %> |
<%= link_to 'Lojas', shops_path, role: 'button', class: 'btn btn-success btn-sm' %>
