<h1>Editar Produto</h1>

<%= render 'form' %>

<br /> 

<%= link_to 'Veja o produto', @product, role: 'button', class: 'btn btn-success btn-sm' %> |
<%= link_to 'Produtos', products_path, role: 'button', class: 'btn btn-success btn-sm' %>
