<h1>Editar Producto</h1>

<%= render 'form' %>

<br /> 

<%= link_to 'Ver Produto', @product, role: 'button', class: 'btn btn-success btn-sm' %> |
<%= link_to 'Todos los Productos', products_path, role: 'button', class: 'btn btn-success btn-sm' %>
