<h1>Novo Produto</h1>
<p>(Si você quiser criar um produto, precisa ter uma loja primeiro</p>
<p><%= link_to 'Criar uma loja aqui', new_shop_path %>)</p>

<br />

<%= render 'form' %>
<br />
<%= link_to 'Voltar', products_path, role: 'button', class: 'btn btn-success btn-sm' %>
